<div class="header pb-4 pt-0 pt-lg-0 d-flex align-items-center">

</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-12 pb-2">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-4 pb-2">
                                        <button type="button" class="btn btn-primary add-new" (click)="onAdd()"><i
                                                class="fa fa-plus"></i>
                                            Add New</button>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td style="width: 30%;"></td>
                                        <td colspan="3" align="right" style="width: 60%; font-weight: bold;">
                                            {{firstRowData}}</td>
                                    </tr>
                                    <tr *ngFor="let financialInformation of financialInformationList; let i = index">

                                        <td style="width: 30%; font-weight: bold;">
                                            <div *ngIf="financialInformation.isEdit">
                                                <input type="text" [(ngModel)]="financialInformation.itemCode">
                                                <div class="text-danger"
                                                    *ngIf="validateField(financialInformation.itemCode)">
                                                    <span>*Required</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!financialInformation.isEdit">
                                                {{financialInformation.itemCode}}
                                            </div>
                                        </td>
                                        <td style="width: 20%; text-align: center;">
                                            <div *ngIf="financialInformation.isEdit">
                                                <input type="text" [(ngModel)]="financialInformation.thirdYear">
                                                <div class="text-danger"
                                                    *ngIf="validateField(financialInformation.thirdYear)">
                                                    <span>*Required</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!financialInformation.isEdit">
                                                {{financialInformation.thirdYear}}
                                            </div>
                                        </td>
                                        <td style="width: 20%; text-align: center;">
                                            <div *ngIf="financialInformation.isEdit">
                                                <input type="text" [(ngModel)]="financialInformation.secondYear">
                                                <div class="text-danger"
                                                    *ngIf="validateField(financialInformation.secondYear)">
                                                    <span>*Required</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!financialInformation.isEdit">
                                                {{financialInformation.secondYear}}
                                            </div>
                                        </td>
                                        <td style="width: 20%; text-align: center;">
                                            <div *ngIf="financialInformation.isEdit">
                                                <input type="text" [(ngModel)]="financialInformation.firstYear">
                                                <div class="text-danger"
                                                    *ngIf="validateField(financialInformation.firstYear)">
                                                    <span>*Required</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!financialInformation.isEdit">
                                                {{financialInformation.firstYear}}
                                            </div>
                                        </td>

                                        <td class="action-td">
                                            <div *ngIf="!financialInformation.isEdit">
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i
                                                        class="bi bi-pencil-fill"
                                                        (click)="onEdit(financialInformation,FINANCIAL_INFO)"></i></a>
                                                <a class="delete" title="Delete" data-toggle="tooltip"><i
                                                        class="bi bi-trash-fill"
                                                        (click)="onDelete(financialInformation, FINANCIAL_INFO)"></i></a>
                                            </div>
                                            <div *ngIf="financialInformation.isEdit">
                                                <a class="update"
                                                    [ngClass]="{'isDisabled':validateForm(financialInformation,FINANCIAL_INFO)}"
                                                    title="Update" data-toggle="tooltip"><i class="bi bi-floppy-fill"
                                                        (click)="onUpdate(financialInformation)"></i></a>
                                                <a class="cancel" title="Cancel" data-toggle="tooltip"><i
                                                        class="fa fa-times-circle"
                                                        (click)="onCancel(financialInformation,FINANCIAL_INFO)"></i></a>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pl-lg-4">                
                <div class="mt-1 d-flex form-group">
                    <label class="col-md-0 exl-label" for="excelAttachment">Excel File Upload: </label>
                    <input class="col-md-7 exl-input" type="file" name="excelAttachment" id="excelAttachment"
                        (change)="onExcelFileUpload($event)">
                </div>
            </div>

            <div class="pl-lg-4 pb-4">
                <button type="button" class="btn btn-primary" (click)="onSave(FINANCIAL_INFO)">Save</button>
            </div>


            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-sm-8">
                        <button *ngIf="templateBtnShow" type="button" class="btn btn-warning templ_btn" style="float: left;"
                            (click)="addTemplate()">
                            <i class="fa fa-plus"></i>
                            Add Template
                        </button>
                    </div>
                    <div class="col-sm-4 pb-2">                        
                    </div>
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let financialNote of financialNoteList; let i = index">

                            <td style="width: 10%; font-weight: bold;">
                                <div *ngIf="financialNote.isEdit">
                                    <input type="text" [(ngModel)]="financialNote.itemCode">
                                </div>
                                <div *ngIf="!financialNote.isEdit">
                                    {{financialNote.itemCode}}
                                </div>
                            </td>
                            <td style="width: 80%;white-space: normal;">
                                <div *ngIf="financialNote.isEdit">
                                    <textarea [(ngModel)]="financialNote.itemValue" rows="4"></textarea>
                                </div>
                                <div *ngIf="!financialNote.isEdit">
                                    {{financialNote.itemValue}}
                                </div>
                            </td>

                            <td class="action-td">
                                <div *ngIf="!financialNote.isEdit">
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="bi bi-pencil-fill"
                                            (click)="onEdit(financialNote,'')"></i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="bi bi-trash-fill"
                                            (click)="onDelete(financialNote, '')"></i></a>
                                    <a class="add" title="Add" data-toggle="tooltip"><i class="fa fa-plus"
                                            (click)="addRow(i)"></i></a>
                                </div>
                                <div *ngIf="financialNote.isEdit">
                                    <a class="update"
                                        [ngClass]="{'isDisabled':validateForm(financialNote,'')}"
                                        title="Update" data-toggle="tooltip"><i class="bi bi-floppy-fill"
                                            (click)="onUpdate(financialNote)"></i></a>
                                    <a class="cancel" title="Cancel" data-toggle="tooltip"><i class="fa fa-times-circle"
                                            (click)="onCancel(financialNote,'')"></i></a>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="pl-lg-4 pb-4 pt-4">
                <button type="button" class="btn btn-primary" (click)="onSave(FINANCIAL_NOTE)">Save</button>
            </div>


        </div>
    </div>

</div>