<div class="header pb-4 pt-0 pt-lg-0 d-flex align-items-center">

</div>


<div class="container">
    <div class="row" style="border: solid #e9ecef 1px; ">
        <div class="col">
            <div>Recommended Maximum Credit:</div>
            <div style="font-size: 1.5rem; font-weight: bold;">USD 70,000.00</div>
            <div>
                Main factors considered include net
                assets, total assets, revenue, profit,
                credit rating etc. No consideration is
                given to the specific situation of your
                transaction with subject. You may refer
                to the following suggestions when
                making credit decisions, but it is
                advisable that proper adjustments
                should be made in accordance with your
                marketing strategies and credit policies.
            </div>
        </div>
        <div class="col">
            <div>Credit Rating:</div>

            <div class="row">
                <div class="col-lg-4 pb-2">
                    <strong>C</strong>
                </div>
                <div class="col-lg-8 pb-2">
                    <div>Range 60-79</div>
                    <div>65</div>
                    <div>Medium</div>
    
                </div>
            </div>
            

            <div>
                In assessing the credit reports of a company,
                INFIX CREDIT’S takes into comprehensive
                consideration of five dimensions including
                subject’s financial strength, company
                character, management competence and other
                parameter.
            </div>
        </div>
        <div class="col">
            <div>Risk Assessment :</div>
            <div>
                The risk assessment is used in conjunction with
                the Financial Strength Indicator. The Risk
                Indicator reflects INFIX CREDIT's opinion of a
                company's health, stability and overall
                condition. It takes into consideration all
                significant elements of credit.
            </div>
        </div>
    </div>

</div>