<div class="header pb-4 pt-0 pt-lg-0 d-flex align-items-center">

</div>


<div class="container">
    <div class="row" style="border: solid #e9ecef 1px; ">
        <div class="col" style="border-right: solid #e9ecef 1px;">
            <div>Recommended Maximum Credit:</div>
            <div style="font-size: 1.5rem; font-weight: bold;">{{creditAssessment.currency}} {{creditAssessment.maximumCredit}}</div>
            <div>
                Main factors considered include net
                assets, total assets, revenue, profit,
                credit rating etc. No consideration is
                given to the specific situation of your
                transaction with subject. You may refer
                to the following suggestions when
                making credit decisions, but it is
                advisable that proper adjustments
                should be made in accordance with your
                marketing strategies and credit policies.
            </div>
        </div>
        <div class="col" style="border-right: solid #e9ecef 1px;">
            <div>Credit Rating:</div>

            <div class="row">
                <div class="col-lg-4 pb-2">
                    <div class="cr-color" [ngStyle]="styleBackgroundColor()">{{creditAssessment.grade}}</div>
                </div>
                <div class="col-lg-8 pb-2" style="border-left: solid #e9ecef 1px; font-size: 13px;">
                    <div style="font-weight: bold; margin-top: 10px;">Range {{creditAssessment.gradeRange}}</div>
                    <div style="font-weight: bold;">{{creditAssessment.creditRating}}</div>
                    <div style="font-weight: bold; margin-top: 30px;">{{creditAssessment.creditRatingStatus}}</div>
                </div>
            </div>
            <div>
                In assessing the credit reports of a company,
                INFIX CREDIT’S takes into comprehensive
                consideration of five dimensions including
                subject’s financial strength, company
                character, management competence and other
                parameter.
            </div>
        </div>
        <div class="col">
            <div>Risk Assessment :</div>
            <div style="font-size: 20px; font-weight: bold;">{{creditAssessment.riskStatus}}</div>
            <div [ngStyle]="styleRiskAssessmentArrowImg()">
                <img style="width: 35px;" src="assets/img/icons/arrow-down.png" alt="">
            </div>

            <div class="progress" style="max-width: 100%">                
                <div class="progress-bar" style="width: 100%; background-color: #00af50">

                </div>

                <div class="progress-bar" style="width: 100%; background-color: #92d051">

                </div>
                <div class="progress-bar" style="width: 100%; background-color: #fecf07">

                </div>
                <div class="progress-bar" style="width: 100%; background-color: #ef9a3f">

                </div>
                <div class="progress-bar" style="width: 100%; background-color: #f35b43">

                </div>
                <div class="progress-bar" style="width: 100%; background-color: #ff2d2e">

                </div>
                <div class="progress-bar" style="width: 100%; background-color: #7f7f7f">

                </div>
            </div>

            <div class="progress rate-alph"
                style="max-width: 100%; height: 10px;font-weight: bold;margin-bottom: 0.3rem;">
                <div class="progress-bar" style="width: 100%;">A</div>
                <div class="progress-bar" style="width: 100%;">B</div>
                <div class="progress-bar" style="width: 100%;">C</div>
                <div class="progress-bar" style="width: 100%;">D</div>
                <div class="progress-bar" style="width: 100%;">E</div>
                <div class="progress-bar" style="width: 100%;">H</div>
                <div class="progress-bar" style="width: 100%;">Other</div>
            </div>

            <div class="progress rate-alph" style="max-width: 100%; height: 14px;">
                <div class="progress-bar" style="width: 100%;text-align: left;">Low Risk</div>
                <div class="progress-bar" style="width: 100%;text-align: center;">Moderate Risk</div>
                <div class="progress-bar" style="width: 100%;text-align: right;">High Risk</div>
            </div>


            <div>
                The risk assessment is used in conjunction with
                the Financial Strength Indicator. The Risk
                Indicator reflects INFIX CREDIT's opinion of a
                company's health, stability and overall
                condition. It takes into consideration all
                significant elements of credit.
            </div>
        </div>
    </div>

</div>